@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1 style="color:limegreen;">Acerca de SportsEvents</h1>
   
</hgroup>

<article style="text-align:justify;">
    <p>
        En pleno 2017, la era del fitness y del ejercicio está sufriendo una revolución. 
        Deportes como correr, o como es llamado ahora “Running” o “Footing”, se ponen de moda. 
        El futuro está alejándose de la obesidad, cada vez más y a ritmo vertiginoso la gente quiere 
        cuidarse un poco más y un poco mejor.</p>
      <p>  Desde personas pisando casi la tercera edad buscando cómo mejorar su salud o simplemente 
          limpiar un poco su conciencia hasta pre-adolescentes de 13 años que ya están en el gimnasio
           para empezar a obtener un cuerpo digno de +500 likes en Instagram con el típico “ya se nota 
          el gym tt”. Todos ellos buscando obtener un cuerpo y una salud idónea.</p>
       <p> Pero no todo el mundo es capaz de lograr esto por falta de motivación o pereza, y la principal
            causa es falta de un compañero o compañera para realizar esos ejercicios, seas cuales sean.
            De esta necesidad nace SportsEvents, para que las personas que buscan compañeros se pongan en 
           contacto entre ellos para realizar un deporte en común y así lograr los objetivos y la motivación
            que a veces no es posible obtener si uno realiza una actividad solo o si no consigue los
            miembros necesarios para una partida de hockey sobre hielo.</p>
      <p>  Aprovechando esta proliferación y la falta de este tipo de sitios en la red, hemos encontrado
     un hueco en el mercado que hay que satisfacer, y la mejor manera para ello es mediante una red 
    social innovadora, sencilla y divertida, con diversas acciones y gadgets para hacer más sencilla 
    tu vida deportiva.
    </p>
</article>

<aside>
    <h3 style="color:limegreen;">Más información</h3>
    <p style="text-align:justify;">
        Puedes saber más acerca de nosotros a través de los siguientes enlaces.
    </p>
    <ul>
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Soporte al usuario", "Create", "Soporte")</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
    </ul>
</aside>