@{
    ViewBag.Title = "Contact";
}

<h1 style="color:limegreen;">Contacta con SportsEvents</h1><br />
<div class="row">
    <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="row">
            
            <style>
                #map {
                    height: 240px;
                    width: 100%;
                }
            </style>
            <div id="map"></div>
            <script>
            function initMap() {
                var uluru = { lat: 38.3342415, lng: -0.7945098 };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 4,
                    center: uluru
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1J4ii56wxh8eNZnfz3yO7rvLFLStSwoU&callback=initMap">
            </script>
        </div>
    </div>
    <div class="col-md-8 col-lg-8 col-xs-12">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-xs-12" style="text-align:justify;font-size:medium;">
                Visita nuestra oficina en la siguiente dirección o mándanos un email.


            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12" style="text-align:right; font-size:large;">
                
                    <b>Dirección</b>
                    
                
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12 ">


                Calle Falsa 123<br />
                España

            </div>
        </div><br />
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12" style="text-align:right; font-size:large;">

                <b>Horario</b>


            </div>
            <div class="col-md-4 col-lg-4 col-xs-12 ">


                10:00 - 14:00

            </div>
        </div><br />
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12" style="text-align:right;font-size:large;">

                <b>Email</b>


            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">


                <a href="mailto:info@SportsEvents.com">info@SportsEvents.com</a>

            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-lg-8 col-xs-12" style="text-align:justify;font-size:medium;">
                <br />
                También puedes realizar cualquier consulta a través del apartado @Html.ActionLink("Soporte al usuario", "Create", "Soporte").
                Nuestro equipo te responderá con la mayor brevedad posible.
                

            </div>
        </div>
        </div>
    </div>
